
*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.error {

    color: red;

}

li{
    list-style-type: none;
}
.nav-fixed-top {

    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;

}
.address-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #313130;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background: white;
    padding:0px;
    margin:0px;
    min-width: 20.625rem;

}
.address-container span {
    vertical-align: middle;
}
.address-container h4{

    font-weight: 100;
    color: grey;
    padding: 2px;
    margin:0px
}
.flex-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0rem;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin: 0;

    background: rgba(0, 0, 0, 0.9);

}
.ctx {


    min-width: 1.25rem;
    color: white;
}

.menu-items
{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    flex-grow: 0.5;
    padding-inline-start: 20px;


}

.menu-item{


    margin: 6px 20px 6px 0px;
    flex-basis: 2rem;
    flex-grow: 1;

    flex: 1 1 30px;

}
.menu-item a
{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding:  10px 18px;
    border: 2px solid white;

}


.menu-item :hover,
.menu-item a:hover {

    background-color:#FF9000;
    color: #313130;

}

.footer-container{

    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    background-color: #313130;
    color: white;
}

.material-icons {
    vertical-align: middle;
}


.footer-items li {
    min-width: 297px;
    padding: 3px;
}

.footer-items li a {

    text-decoration: none;
    color: #FEFAF4;
}

.main {

    margin-top:150px;
    text-align: center;
    width: 100%;
}
.corousel-container
{

    width: 100%;
    position: relative;
}


.corousel-container img{

    width: 100%;
    height: auto;
    max-height: 43.75rem ;
    background-position: center;
    background-origin: border-box;


}

.left-arrow-corousel{

    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1;
    font-size: 8vw !important;
    color:rgba(0, 0, 0, 0.7);
}
.right-arrow-corousel{

    position: absolute;
    top: 30%;
    right: 0;
    color:rgba(0, 0, 0, 0.7);
    z-index: 1;
    font-size: 6vw !important;

}

.corousel-img-text
{
    position: absolute;
    z-index: 2;
    bottom:10%;
    left: 3%;
    color:rgba(0, 0, 0, 0.9);
    font-size: 4vw;

}

.corousel-img-text-after{

    display: none;
    color:rgba(0, 0, 0, 1);
    font-size: 4vw;

}


.servicesContainer{

    background-color: #313130;
    color: white;
    padding: 1rem;
    margin: 0;


}

.servicesContainer h1 {

    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;

    background-color:white;
    color:#FF9000;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
    /* box-shadow: 1rem 0.3rem 1rem 0.3rem rgb(255, 144, 0); */

}

.servicesContainer h4 {

    font-weight: 100;
    font-size: larger;
    color: grey;
}


.service-images{

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 0;


}

.service-image {
    padding: 20px;
    height: 400px;

}
.service-image img {

    flex-basis: 200px;
    max-width:320px;
    border-radius: 50%;
    height: 80%;
    background-position: center;
    background-size: auto;


}

.service-image img:hover{
    height: 85%;
    max-width: 400px;
    border-radius: 0px;
}

.service-image-heading {
    padding-top: 5px;
    font-size: 1.5rem;

}

.service-image-summary {
    padding-top: 2px;
    font-size: medium;
    color: grey;
}


.bottom-splashy-container{

    background-color:#FF9000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color:#FEFAF4;
    align-content: center;




}

.bottom-splashy-container h2 {


    vertical-align: middle;
}
.bottom-splashy-container h2 p{

    font-size: large;
    margin: 0;
    font-weight: 140;
}

.custom-decoration1
{

    background-color: #FEFAF4;
    color:#FF9000;
    padding: 0;
    border-radius: 1.625rem;
    font-size: larger;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 1rem;
    margin: 15px 0px;
    text-decoration: none;

}

.custom-decoration1:hover
{

    background-color: #FF9000;
    color:#FEFAF4;
    border: 2px solid #FEFAF4;
}

.contact-form {

    width: 60%;
    margin: auto;

}

.contact-title {


    padding: 10px;
    color : #FF9000;
}
.form-wrapper{

    width: 100%;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 10px;
}
.application-form {

    margin:1rem;
    display:block;

}

.data-field {
    text-align: center;
    display: inline-block;
    width: 30.66%;
    margin :1%;
}

.address{
    width: 96%;
}


.checkbox{

    width: fit-content;
    text-align: start;
    margin-left: 1.3%;
    width: 41%;

}
.checkbox-parallel{

    width: fit-content;
    text-align: start;
    margin-left:1.3%;
    display: inline-block;
    width: 53%;
}

.form-checkbox-groups {
    outline: none;
    border : 1px solid #ccc;
    background-color: white;
    text-align: start;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: middle;
    padding:0.5rem;
    margin-top:0.5rem;
    box-shadow: 2px 2px 2px 2px #ccc;
}


.explain-full-width{
    text-align: start;
    width: 100%;
    display: block;

}

.education-wrapper {
    padding-right:1.5%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px 2px grey;
    margin-bottom: 1rem;
}

.edu-count{

    position: absolute;
    left:3%;
}

.education-groups {


    display: inline-block;
    width:48%;
    margin: 1%;
}

.edu-label {

    font-weight: bold;
    padding-bottom: 10px;

}

.edu-textField{
    outline: none;
    border : 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    width: 100%;


}

.edu-dates{
    display: inline-block;
    width: 100%;

    text-align: start;
}

.edu-dateField {

    outline: none;
    border : 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;

    width: 100%;
    text-align: center;
}

.edu-select{
    padding: 6px 10px;
    margin:1% 1%;
}

.edu-field{
    outline: none;
    border : 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    margin:1% 1%;
    width: 88%;
    text-align: center;
}
.edu-dates-group
{
    text-align: center;
    margin:1% 1%;
    width:31%;
    display: inline-block;
}

.center{

    text-align:center;
}

.full-width {

    width: 98%;
    margin:1%;
}

.three-components{
    width: 31%;
    margin:1%;
    padding:1%;

}



@media only screen and (max-width: 500px) {

    .main{

        margin-top:190px;
    }

    .corousel-container
    {

        width: 100%;
        position: static;

    }

    .corousel-img-text
    {
        display: none;
    }

    .corousel-img-text-after{

        display: block;
        color:rgba(0, 0, 0, 1);
        font-size: 4vw;

    }

    .flex-container {

        padding-top: 20px;
    }

    .contact-form {

        width: 99%;
        padding: 1%;
    }

    .data-field{

        width:98%
    }

    .address{
        width: 98%;
    }


    .checkbox , .checkbox-parallel{

        width: 100%;
        text-align: start;
        margin-left: 0.2rem;
        display: block;
    }


    .edu-label,.edu-textField,.edu-field, .edu-dateField ,.education-groups,.edu-dates-group{

        display: block;
        width: 100%;
    }
    .edu-dates
    {
        text-align: center;
    }
    .edu-count{

        left:5%;
    }



}


